form{
  width: 50%;
  background-color:#DCDCDC;
  border-radius: 10px;
  box-shadow: 0 0 8px 1px darkgray;
  padding: 10px;
  display: block;
  margin: 20px auto;
  background-repeat: no-repeat, repeat;
  background-image: url("../img/wall.png"), url("../img/paper.jpg"), ;
  background-blend-mode: luminosity;
  
}
iframe{
  width: 90%;
}

@media screen and (max-width: 600px) {
  form,
  iframe{
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  form,
  iframe{
    width: 98%;
  }
