p iframe{
  display: block;
  margin: 20px auto;
  height: 30vw;
  min-height: 400px;
}

h3 {
  width: 80%;
  text-align: justify;
  margin: auto;
  margin-top: 50px;
}
ul{
  width: 70%;
  display: block;
  margin: auto;
}

.firstP{
  margin-top: 20px;
}

.lastP{
  margin-bottom: 20px;
}
.video {
    max-width: 80%;
    box-shadow: 0 0 8px 1px darkgray;
    margin: 0px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
#videoContainer{
    padding: 20px;
}
@media screen and (max-width: 360px) {
  .video {
    min-width: 120px;
    min-height: 120px;
  }
}