.quote {
    text-align: center;
    max-width: 50%;
    box-shadow: 0 0 8px 1px darkgray;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.quote p {
    width: 90%;
}
.endorsement{
    margin-top: 20px;
    font-style: italic;
    color: black;
}
@media screen and (max-width: 768px) {
  .quote {
    max-width: 90%;
    max-height: 180vw;
  }
}
