body, html{
    background-image: url("../img/wall.png");
    padding: 0;
    margin: 0;
    width: 100%;
}
main{
    margin-top: 20px;
}
main > div > div{
    background-color: #DCDCDC;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 20px 10px;
    width: 80%;
}
nav{

background: -webkit-linear-gradient(-180deg, rgb(235, 235, 235), rgb(179, 181, 183));
background: linear-gradient(-180deg, rgb(235, 235, 235), rgb(179, 181, 183));

box-shadow: 0 0 10px black;
}
h1, h2{
    text-align:  center;
}
h1{
    color: #696969;
    text-transform: uppercase;
}
h2{
    margin-top: 20px;
    color: 	#696969;
    font-size: 1em;
    font-weight: 600;
}
h3{
    color: #696969;
}
p{
    width: 70%;
    text-align: justify;
    margin: auto;
    color: #696969;
    font-weight: 100;
  
}
li{
    color: darkslategray;
}
label{
    color: #696969;
}
.img {
    text-align: center;
    width: 50vw;
    max-width:90%;
    box-shadow: 0 0 12px 1px black;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    transition: all 0.2s ease-out;
}
.img:hover {
    width: 60vw;
}
.img img {
    width: 90%;
    border-radius: 5px;
    border: solid 1px;
}
.caption-text{
    color: grey;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    min-width:4rem;
    text-align: center;
}
@media screen and (max-width: 768px) {
  .img {
    text-align: center;
    width: 70vw;
    transition: all 0.2s ease-out;
  }
  .img:hover {
    width: 90vw;
  }
  .navbar-expand-lg .navbar-nav {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1000px) {
    .img {
        text-align: center;
        width: 40vw;
        transition: all 0.2s ease-out;
    }
    .img:hover {
        width: 45vw;
    }
}
