.link{
    color: white;
}
.footer-copyright{
    background-color: dimgray;
    line-height: 0;
    font-size: 0.7em;
}
@media screen and (max-width: 768px) {
  .footer-copyright {
    line-height: 2;
  }
}