header.container-fluid > div > div {
  padding-right: 0;
  padding-left: 0;
}
.navbar-expand-lg .navbar-nav {
    padding-left: 5.5rem;
}
.navbar-brand{
    outline: none;
}
.navbar-nav *{
    outline: none;
}
@media screen and (max-width: 768px) {
  .navbar-expand-lg .navbar-nav {
    padding-left: 1rem;
  }
}